{
  "addons": {
    "epa-zotero-plugin@epa.gov": {
      "updates": [
        {
          "version": "0.0",
          "update_link": "https://github.com/andychase/epa-zotero-plugin/releases/latest/download/updates.json",
          "update_hash": "sha256:",
          "applications": {
            "zotero": {
              "strict_min_version": "6.999",
              "strict_max_version": "7.0.*"
            }
          }
        }
      ]
    }
  }
}
