.row {

}

window[data-green-instead] .row {

}

#zotero-tb-sync {
	display: none;
}

#zotero-prefpane-sync .main-section {
	display: none !important;
}


#sync-unauthorized {
	display: none !important;
	height: 0px;
}

#zotero-items-pane #zotero-items-tree .items-tree-message div p:nth-of-type(2) {
    display: none;
}


#zotero-items-pane #zotero-items-tree .items-tree-message div p:nth-of-type(3) {
    display: none;
}
